/* Formata Font Family */

@font-face {
    font-family: 'FormataRegular';
    src: url('formata-regular.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'FormataItalic';
    src: url('formata-italic.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'FormataLight';
    src: url('formata-light.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'FormataBold';
    src: url('formata-bold.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

