/* ExcellenceInMotion Font Family */

@font-face {
    font-family: 'ExcellenceInMotionRegular';
    src: url('ExcellenceInMotion_Regular.eot');
    src: url('ExcellenceInMotion_Regular.eot?#iefix') format('embedded-opentype'),
         url('ExcellenceInMotion_Regular.woff') format('woff'),
         url('ExcellenceInMotion_Regular.ttf') format('truetype'),
         url('ExcellenceInMotion_Regular.svg#ExcellenceInMotionRegular') format('svg');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'ExcellenceInMotionMedium';
    src: url('ExcellenceInMotion_Medium.eot');
    src: url('ExcellenceInMotion_Medium.eot?#iefix') format('embedded-opentype'),
         url('ExcellenceInMotion_Medium.woff') format('woff'),
         url('ExcellenceInMotion_Medium.ttf') format('truetype'),
         url('ExcellenceInMotion_Medium.svg#ExcellenceInMotionMedium') format('svg');
    font-weight: normal;
    font-style: normal;
}

@@font-face {
    font-family: 'ExcellenceInMotionBold';
    src: url('ExcellenceInMotion_Bold.eot');
    src: url('ExcellenceInMotion_Bold.eot?#iefix') format('embedded-opentype'),
         url('ExcellenceInMotion_Bold.woff') format('woff'),
         url('ExcellenceInMotion_Bold.ttf') format('truetype'),
         url('ExcellenceInMotion_Bold.svg#ExcellenceInMotionBold') format('svg');
    font-weight: normal;
    font-style: normal;
}
