@charset "utf-8";
body {
	font: 100%  Arial, sans-serif;
	background: #666666;
	margin: 0; /* рекомендуется использовать нулевое значение поля и отступа элемента body, чтобы учесть различные настройки по умолчанию для браузеров. */
	padding: 0;
	text-align: center; /* выравнивает контейнер по центру в браузерах IE 5*. Затем для текста задается по умолчанию выравнивание по левому краю в селекторе #container. */
	color: #000000;
	font-size: 14px;
	line-height: 1.2em;
}
.oneColLiqCtr #container {
	width: 90%;  /* будет создан контейнер размером 80% от ширины окна браузера. */
	background: #FFFFFF;
	margin: 0 auto; /* автоматические поля (совместно с шириной) выравнивают страницу по центру. */
	border: 1px solid #000000;
	text-align:justify; /* переопределяет свойство text-align: выравнивание элемента body по центру. */
}
.oneColLiqCtr #mainContent {
	padding: 0 20px; /* помните, что отступ — это пространство внутри блока div, а поле — пространство за блоком div. */
}
