/* Font Face Meta */

@font-face {
    font-family: 'MetaWeb';
    src: url('MetaWeb-Normal.eot');
    src: url('MetaWeb-Normal.eot?#iefix') format('embedded-opentype'),
         url('MetaWeb-Normal.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'MetaWeb';
    src: url('MetaWeb-NormalIta.eot');
    src: url('MetaWeb-NormalIta.eot?#iefix') format('embedded-opentype'),
         url('MetaWeb-NormalIta.woff') format('woff');
    font-weight: normal;
    font-style: italic;
}

@font-face {
    font-family: 'MetaWeb';
    src: url('MetaWeb-Bold.eot');
    src: url('MetaWeb-Bold.eot?#iefix') format('embedded-opentype'),
         url('MetaWeb-Bold.woff') format('woff');
    font-weight: bold;
    font-style: normal;
}

@font-face {
    font-family: 'MetaWeb';
    src: url('MetaWeb-BoldIta.eot');
    src: url('MetaWeb-BoldIta.eot?#iefix') format('embedded-opentype'),
         url('MetaWeb-BoldIta.woff') format('woff');
    font-weight: bold;
    font-style: italic;
}

@font-face {
    font-family: 'MetaSerifWeb';
    src: url('MetaSerifWeb-Medium.eot');
    src: url('MetaSerifWeb-Medium.eot?#iefix') format('embedded-opentype');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'MetaSerifWeb';
    src: url('MetaSerifWeb-BookItalic.eot');
    src: url('MetaSerifWeb-BookItalic.eot?#iefix') format('embedded-opentype');
    font-weight: normal;
    font-style: italic;
}

@font-face {
    font-family: 'MetaSerifWebBold';
    src: url('MetaSerifWeb-Bold.eot');
    src: url('MetaSerifWeb-Bold.eot?#iefix') format('embedded-opentype'),
         url('MetaSerifWeb-Bold.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'MetaSerifWeb';
    src: url('MetaSerifWeb-Bold.eot');
    src: url('MetaSerifWeb-Bold.eot?#iefix') format('embedded-opentype'),
         url('MetaSerifWeb-Bold.woff') format('woff');
    font-weight: bold;
    font-style: normal;
}

@font-face {
    font-family: 'MetaSerifWeb';
    src: url('MetaSerifWeb-BoldItalic.eot');
    src: url('MetaSerifWeb-BoldItalic.eot?#iefix') format('embedded-opentype');
    font-weight: bold;
    font-style: italic;
}

@font-face {
    font-family: 'MetaSerifComp';
    src: url('MetaSerifComp-Medium.ttf')  format('truetype');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'MetaSerifComp';
    src: url('MetaSerifComp-BookItalic.ttf')  format('truetype');
    font-weight: normal;
    font-style: italic;
}

@font-face {
    font-family: 'MetaSerifComp';
    src: url('MetaSerifComp-Bold.ttf')  format('truetype');
    font-weight: bold;
    font-style: normal;
}

@font-face {
    font-family: 'MetaSerifComp';
    src: url('MetaSerifComp-BoldItalic.ttf')  format('truetype');
    font-weight: bold;
    font-style: italic;
}

@font-face {
    font-family: 'MetaComp';
    src: url('MetaComp-Bold.ttf')  format('truetype');
    font-weight: bold;
    font-style: normal;
}

